body {
  margin: 0;
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  color: var(--content-primary);

  background-color: var(--bg-primary);
  background-image: url("../assets/images/Linha.png");
  background-repeat: repeat;
  background-size: auto;
}
